/* eslint-disable */
//== Color Variables
$white: #f9f9f9;
$white2: #fff;
$theme1: #303030;
$theme2: #cfb995;
$gray: #b2b2b2;
$darkgray: #5e5e5e;
$red: #ff5b5b;
$green: #57e690;
$orange: #ff915b;
$paleorange: #ffbe5b;
$lightgold: #ffdf5b;
$kewi: #8fe360;
$green: #57e690;
$sky: #57dbe6;
$borderColor: #f2eeee;

//== Typography
/*
* import fonts Montserrat
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
$montserrat: "Montserrat", sans-serif;
