/* eslint-disable */
//== Color Variables
$white: #f9f9f9;
$white2: #fff;
$theme1: #303030;
$theme2: #cfb995;
$gray: #b2b2b2;
$red: #ff5b5b;
$green: #57e690;

//== Typography
/*
* import fonts Montserrat
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
$montserrat: "Montserrat", sans-serif;
